<!-- As a link -->
<nav class="navbar navbar-dark bg-dark mb-5 navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href='{% url "root" %}'>Job Tracker</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if perms.jobs.view_job %}
                    <li class="nav-item">
                        {% url "job_list" as job_list %}
                        <a class="nav-link {% if job_list == request.path %}active{% endif %}"
                           aria-current="page"
                           href='{{ job_list }}'>Jobs</a>
                    </li>
                {% endif %}
                {% if perms.activities.view_activitytype %}
                    <li class="nav-item">
                        {% url "activity_type_list" as activity_type_list %}
                        <a class="nav-link {% if activity_type_list == request.path %}active{% endif %}"
                           href='{% url "activity_type_list" %}'>Activity Types</a>
                    </li>
                {% endif %}
                {% if perms.jobs.view_jobsource %}
                    <li class="nav-item">
                        {% url "job_source_list" as job_source_list %}
                        <a class="nav-link {% if job_source_list == request.path %}active{% endif %}"
                           href='{% url "job_source_list" %}'>Job Sources</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {% url "tech_stack_list" as tech_stack_list %}
                    <a class="nav-link {% if tech_stack_list == request.path %}active{% endif %}"
                       href='{% url "tech_stack_list" %}'>Tech Stacks</a>
                </li>
            </ul>
        </div>
        <span class="navbar-text">
            {% if user.is_authenticated %}
                <div class="d-flex align-items-center">
                    <div class="flex">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                             alt="Avatar Logo"
                             width="40"
                             height="auto"
                             class="rounded-pill">
                        <span class="d-inline-block ms-2">{{ user.email }}</span>
                    </div>
                    <a href='{% url "account_logout" %}' class="link ms-4">Logout</a>
                </div>
            {% else %}
                <div class="d-flex gap-3">
                    <a href='{% url "account_login" %}'>Login</a>
                    <a href='{% url "account_login" %}'>Sign Up</a>
                </div>
            {% endif %}
        </span>
    </div>
</nav>
